<html lang="pt-br">
  <meta charset="utf-8">
  <title>Termohigrometro</title>
  <meta http-equiv="refresh" content="10">
  <meta name="description" content="Termohigrometro - RPi">
  <meta name="author" content="Cleiton Ferreira">
  <!-- Mobile Specific Metas ––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FONT ––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <!-- CSS –––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <!-- Favicon ––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/images/favicon.png">
</head>
  <body>
    <div class="container">
      <div class="row">
        <div class="two-third column" style="margin-top: 5%">
            <h2>Condições em tempo real</h2>
            <h1>Temperatura: {{"{0:0.1f}".format(temp) }}°C</h1>
            <h1>Umidade: {{"{0:0.1f}".format(hum)}}%</h1>  
            <p>Refresh a cada 2 minutos</p>
        </div>   
      </div>
      <div class="row">
      <div class="eleven columns">
        <form id="range_select" action = "/lab_env_db" method="GET">  
          <input type="hidden" class="timezone" name="timezone" />      
	      <div class="one column">
          <a href="/lab_env_db" style="position:relative;top:15px">Historico</a>
       	</div>
        <div class="one column">
          <a href="/lab_parametros" style="position:relative;top:15px">Parâmetros</a>
       	</div>
        </form>          
      </div>
    </div>
  <input type="hidden" id="atual_temp" name="atual_temp" value="{{temp}}"/>             
  </body> 
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js" ></script>
<!-- <script>
      if (alerta) {
        var temp_atual = document.getElementById('atual_temp').value ;
        alert('Alerta de temperatura: ' + temp_atual);
      }
</script> -->
<script>
jQuery( document ).ready(function() {
    timezone = jstz.determine();
    jQuery("#timezone").text(timezone.name());     
});
  jQuery("#range_select input[type=radio]").click(function(){
    timezone = jstz.determine();
    jQuery(".timezone").val(timezone.name()); 
    jQuery("#range_select").submit();
  });
</script> 
</html>
